html{
    --dark: #666;
    --light:#F8F9FA;
    --accent:#4f4cc2;
}

body{
    color: #666!important;
}

.wrapper{
    padding-top: 3em;
    padding-bottom: 3em;
}

@media screen and (min-width: 768px) {
    .hero-text{
        margin-left: 4em;
    }
    
    .hero-img-wrapper{
        margin-right: 2.5em;
    }

    @media screen and (min-width: 992px) {
        .hero-text{
            margin-left: 5em;
        }
        .hero-img-wrapper{
            margin-right: 4em;
        }
    }
}

#about{
    background-color: var(--dark);
}

#about>.container, #learn>.container{
    column-gap: 2em;
}

#about img{
    position: relative;
    top: -4em;
}

@media screen and (min-width: 992px) {
    #about img{
        top: -6em;
    }
}

@media screen and (max-width: 767px) {
    #about>.container, #learn>.container{
        column-gap: 0;
    }

    #about{
        background-image: url('../images/circle-scatter-haikei.svg');
        background-position: top;
        background-size: auto;
    }

    @media screen and (max-width: 719px) {
        #about{
            background-size: cover;
        }
    }
    
    @media screen and (max-width: 608px) {
        #about{
            background-position: bottom;
        }
    }
}



.top-stack, .bottom-stack{
    column-gap: 1em;
    margin-top: 2em;
}

.sfdc-card{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-width: 0;
    max-width: 15rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.sfdc-card .img-wrapper{
   position: absolute;
   top: -1.7em;
   left: 50%;
   max-width: 50px;
   max-height: 50px;
   transform: translateX(-50%);
   background-color: #fff;
   border: 1px solid white;
   border-radius: 50%;
   z-index: 1000;
}
.sfdc-card p{
    margin-bottom: 0;
}



















/********** Dark Shades ***********/
/* #0A0A0A
#121212
#15292B
#161618
#181818
#192734
#212121
#212124
#22303C
#242526
#282828
#3A3B3C
#404040 */



/* Off White	#FAF9F6
#F5F5F5 */